/* Complaint */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Courier+Prime&family=IBM+Plex+Sans&display=swap');
/* Google Fonts 
font-family: 'Cormorant Garamond',serif;
font-family: 'Courier Prime',monospace;
font-family: 'IBM Plex Sans',sans-serif;

*/
.complaint{
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    background: url('../assets/background/wp12260895-luxury-black-wallpapers.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    background-color: black;
    width: 99.5vw;
    height: 10vh;
    margin: auto;
    padding: 2px;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    color: #e9cf16;
    text-shadow: black 0 0 5px;
    background: repeating-linear-gradient(45deg,
    #eeff0277,
    #eeff0277 10px,
    #000000 10px,
    #000000 22px);
}
.subtitle{
    text-align: justify;
    width: 85%;
    margin: 2vh auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: aliceblue;
    text-shadow: black 0 0 1px;
}
.indication{
    text-align: justify;
    width: 85%;
    margin: 2vh auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(243, 237, 229);
    text-shadow: black 0 0 1px;
}
fieldset{
    width: 85%;
    margin: auto;
    border: none;
}